from google.adk.agents import LlmAgent
{{- if hasTools . }}
from google.adk.tools import {{ getToolImports . }}
{{- end }}

agent = LlmAgent(
    name="{{ snakeCase .Name }}",
    model="{{ .Model }}",
    instruction="{{ .Instruction }}",
    {{- if .OutputKey }}
    output_key="{{ .OutputKey }}",
    {{- end }}
    {{- if hasTools . }}
    tools=[{{ getToolsList . }}],
    {{- end }}
)
